<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
          <mat-icon (clic)="sidenav.toggle();">menu</mat-icon>
        </button>
        <h1>Clientes</h1>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side">
        <mat-nav-list>
            <a mat-list-item routerLink="home">Home</a>
            <a mat-list-item routerLink="clients">Clients</a>
            <a mat-list-item routerLink="clienhis">Client look history</a>
            <a mat-list-item routerLink="emerconf">Emergency PIN configuration</a>
            <a mat-list-item routerLink="emerhist">Emergency PIN history</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>